<!-- ejemplo 1 -->
<script>
    const array1 = ['UNIVERSIDAD', 'programacion', 'Diseño'];

    array1.forEach(element => console.log(element));
</script>


<!-- ejemplo 2 -->
<script>
    const array1 = ['3', '2', '1'];

    array1.forEach(element => console.log(element));
</script>