<script>
    let profesores = ["Alexander", "Jonas", "Juan", "Franchesca", "Rafael", "Mara", "Luciana"];

    for (i = 0; i < profesores.length; i++) {
        if (profesores[i].indexOf("A") == 0) {
            console.log(profesores[i]);
        }
    }
</script>

<!-- ejemplo 2 -->

<script>
    let numeros = ['1', '2', '3', '4', '5', '6', '14', '18', '20', '22'];
    for (i = 0; i < numeros.length; i++) {
        if (numeros[i].indexOf('1') == 0) {
            console.log(numeros[i]);
        }
    }
</script>