<script>
    let array = ('buenos dias a todos');
    let newArray = array.split(' ');
    console.log(newArray);
</script>

<!-- ejemplo 2 -->

<script>
    let array = ('Mayonesa pimienta AJI');
    let newArray = array.split(' ');
    console.log(newArray);
</script>