<!-- ejemplo 1 -->
<script>
    let array = ['ho', 'la', 'que', 'tal'];
    document.write(array.join(''));
</script>

<!-- ejemplo 2 -->

<script>
    let array = ['verde', 'azul', 'blanco'];
    document.write(array.join(' ,'));
</script>