<script>
    let nombres = ['Ricardo', 'Pepe', 'Miguel Angel', 'Josefa', 'Vandelberg'];
    let masculinos = nombres.slice(1, 3);
    console.log(masculinos);
</script>

<!-- ejemplo 2 -->

<script>
    let edad = ['43', '58', '21', '13', '35'];
    let mayores = edad.slice(1);
    console.log(mayores);
</script>