<script>
    const array = [3, 4, 5];
    console.log(array.unshift(1, 2));
    console.log(array);
</script>

<!-- comenta uno para lanzar el otro -->

<!-- ejemplo 2 -->

<script>
    const myArray = ['m', 'j', 'd', 's'];
    console.log(myArray.unshift('j', 'h', 'o'));
    console.log(myArray);
</script>