<script>
    const meses = ['Jan', 'March', 'April', 'June'];
    meses.splice(1, 0, 'Feb');
    console.log(meses);
</script>

<!-- ejemplo 2 -->

<script>
    const familia = ['madre', 'padre', 'hijo'];
    familia.splice(2, 0, 'hija');
    console.log(familia);
</script>