<script>
    const animales = ['pato', 'perro', 'vaca'];

    const animal = animales.push('Funciona');
    console.log(animal);
    console.log(animales);
</script>

<!-- ejemplo 2 -->

<script>
    const estudiantes = ['june', 'jero', 'brian'];

    const escuela = estudiantes.push('funciona');
    console.log(escuela);
    console.log(estudiantes);
</script>