<script>
    const alimentos = ['platano', 'huevo', 'yuca', 'pimenton', 'masa'];
    console.log(alimentos.pop());
    console.log(alimentos);
</script>

<!-- ejemplo 2 -->

<script>
    const festejos = ['semana santa', 'navidad', 'cumpleaños', 'dia de la independencia', 'vaciones'];
    console.log(festejos.pop());
    console.log(festejos);
</script>